
<header>
    <div class="content__header">
        <a href="/" class="content__header-logo">
            <img src="../public/images/svg/logo.svg" alt="logo">
        </a>
    
        <ul class="content__header-item">
            <li class="content__header-list">
                <a class="content__header-link" href="#">About Product</a>
            </li>
            <li class="content__header-list">
                <a class="content__header-link" href="#">Reviews</a>
            </li>
            <li class="content__header-list">
                <a class="content__header-link" href="#">Contact Us</a>
            </li>
        </ul>
        
    </div>
</header>