
<div class="information__size-body">
    <div class="information__size-block">
        <img src="../public/images/svg/music.svg" alt="">
        <h2 class="information__size-title">Free Apple Music Trial</h2>
    </div>
    <p class="information__size-text">Get 6 months of access to over 100 million songs, ad-free</p>
    <div class="information__size-block">
        <img src="../public/images/svg/apple.svg" alt="icon Apple">
        <h2 class="information__size-title">In-Store Pickup</h2>
    </div>
    <p class="information__size-text">Pick up your Beats at an Apple Store near you</p>

    <div class="information__size-bottom">
        <h2 class="information__size-bottom--title">Earbuds</h2>
        <div class="information__bottom-text">
            <p class="information__bottom-left">Height:</p>
            <p class="information__bottom-right">0.59 in / 1.5 cm</p>
        </div>
        <div class="information__bottom-text">
            <p class="information__bottom-left">Weight:</p>
            <p class="information__bottom-right">5 g</p>
        </div>
        <h2 class="information__size-bottom--title">Case</h2>
        <div class="information__bottom-text">
            <p class="information__bottom-left">Height:</p>
            <p class="information__bottom-right">1 in / 2.55 cm</p>
        </div>
        <div class="information__bottom-text">
            <p class="information__bottom-left">Weight:</p>
            <p class="information__bottom-right">48 g</p>
        </div>
        <div class="information__bottom-text">
            <p class="information__bottom-left">Length:</p>
            <p class="information__bottom-right">2.83 in / 7.2 cm</p>
        </div>
        <div class="information__bottom-text">
            <p class="information__bottom-left">Width:</p>
            <p class="information__bottom-right">2 in / 5.1 cm</p>
        </div>
    </div>
</div>